PORT=3000

# Security Keys
JWT_ACCESS_SECRET=aDjSn1WNFu96TpKx5t7gIsZyMQRrJ48hHmCUcYzbXGOL0BdPoqkevAlwE2fVi3
JWT_REFRESH_SECRET=avNmPA7zTisXnuECkVpfW54D3Lhjy6e8ZbIR90UdMJFHYSlrwKqgOoBQt2xcG1
SESSION_SECRET=0aMvE9ilJRpLVo6y2N4jcCQYThFmSuA5De3kgGbUZtrHWPBfd8qw1sKzx7XOIn
ADMIN_SECRET_CODE=FOOD_RESCUE_ADMIN_2026

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here

# Firebase Admin SDK path
FIREBASE_SERVICE_ACCOUNT_PATH=./config/firebaseServiceAccount.json

# Email SMTP
SMTP_USER=foodrescuesupport@gmail.com
SMTP_PASS=YOUR_APP_PASSWORD_HERE

# Resend API
RESEND_API_KEY=your_resend_api_key_here
